/blib
/pm_to_blib
/META.yml
/README
/Makefile.PL
/Build
/_build
/*.tar.gz
/MANIFEST.bak
/cover_db
/tmp/*
/dbedia-*
/debian/dbedia
/debian/dbedia.debhelper.log
/debian/files
/build-stamp
/configure-stamp
